@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');

body {
  background-color: #070f2b;
  font-family: 'Ancizar Serif', serif;
}

@theme {
  --color-light-bg: #9290c3;
  --color-medium-bg: #535c91;
  --color-medium-dark-bg: #1b1a55;
}

#tasklist::-webkit-scrollbar {
  display: none;
}

.rdt_Pagination svg {
  fill: white !important;
  color: white !important;
}

.rdt_Pagination svg:hover {
  fill: #e5e5e5 !important;
}
